<%= form_with model: photo do |form| %>
  <div>
    <%= form.label "Title", class: "attributes"  %><br>
    <%= form.text_field :title %>
    <% photo.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label "Description", class: "attributes"  %><br>
    <%= form.text_area :subtitle %>
    <% photo.errors.full_messages_for(:subtitle).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name, { selected: photo.id } %>
    <% photo.errors.full_messages_for(:category_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :avatar, class: "attributes"  %><br>
    <%= form.file_field :avatar, accept: "image/png, image/jpeg" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>