<h1 class = "title"><%= @category.name %></h1>
<p><%= @category.description %></p>


<%= link_to "New photo", new_photo_path(category_id: @category.id), class: "button--primary" %>


<% @photos.each do |photo| %>
  <div> 
    <%= link_to photo_path(photo) do %>
      <% if photo.avatar.attached? %>
        <div>
          <%= image_tag photo.avatar, class: "cover_image" %>
        </div>
      <% end %>
    <% end %>

    <h2 class="subtitle"><%= photo.title %></h2>
    <p class = "description"><%= photo.subtitle %></p>
    <p>Aqui irian los comentarios si tuvieramos :v <%= photo.comments_count %> ->>>>></p>
    <%# aqui van esos 2 iconitos locos %>
    </div>
    <span> <%= link_to "Edit", edit_photo_path(photo) %></span>
      <span><%= link_to "Destroy", photo_path(photo), data: {
        turbo_method: :delete,
                    turbo_confirm: "Are you sure ಥ_ಥ?"
                  } %></span>
  </div>

<span> <%= link_to "Back", "/categories/" %></span>

<% end %>